# docker-compose.yml
version: "3.8"

services:
  # HADOOP: NAME NODE
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    restart: always
    ports:
      - "9870:9870" # NameNode Web UI
      - "9000:9000" # FS Default
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
      - /home/iitgcpuser/big-data-analysis/mapreduce/target:/opt/hadoop/resources
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop.env
    networks:
      - hadoop

  # HADOOP: DATA NODE 1
  datanode1:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode1
    restart: always
    depends_on:
      - namenode
    volumes:
      - hadoop_datanode1:/hadoop/dfs/data
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
    env_file:
      - ./hadoop.env
    networks:
      - hadoop

  # HADOOP: DATA NODE 2
  datanode2:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode2
    restart: always
    depends_on:
      - namenode
    volumes:
      - hadoop_datanode2:/hadoop/dfs/data
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
    env_file:
      - ./hadoop.env
    networks:
      - hadoop

  # RESOURCE MANAGER (YARN MASTER)
  resourcemanager:
    image: bde2020/hadoop-resourcemanager:2.0.0-hadoop3.2.1-java8
    container_name: resourcemanager
    restart: always
    depends_on:
      - namenode
      - datanode1
      - datanode2
    ports:
      - "8088:8088" # ResourceManager Web UI
    environment:
      SERVICE_PRECONDITION: "namenode:9000 namenode:9870 datanode1:9864 datanode2:9864"
    env_file:
      - ./hadoop.env
    networks:
      - hadoop

  # NODEMANAGER 1
  nodemanager1:
    image: bde2020/hadoop-nodemanager:2.0.0-hadoop3.2.1-java8
    container_name: nodemanager1
    restart: always
    depends_on:
      - resourcemanager
    environment:
      SERVICE_PRECONDITION: "resourcemanager:8088"
    env_file:
      - ./hadoop.env
    networks:
      - hadoop

  # NODEMANAGER 2
  nodemanager2:
    image: bde2020/hadoop-nodemanager:2.0.0-hadoop3.2.1-java8
    container_name: nodemanager2
    restart: always
    depends_on:
      - resourcemanager
    environment:
      SERVICE_PRECONDITION: "resourcemanager:8088"
    env_file:
      - ./hadoop.env
    networks:
      - hadoop

  # HIVE METASTORE DATABASE (PostgreSQL)
  hive-metastore-db:
    image: postgres:13
    container_name: hive-metastore-db
    restart: always
    environment:
      POSTGRES_USER: hive
      POSTGRES_PASSWORD: hive
      POSTGRES_DB: metastore
    volumes:
      - hive_metastore_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - hadoop
    
  # HIVE METASTORE SERVICE
  # ========================================================================
  hive-metastore:
    image: bde2020/hive-metastore:2.3.2-postgresql-metastore
    container_name: hive-metastore
    restart: always
    env_file:
      - ./hadoop.env
      - ./hive.env
    environment:
      HIVE_META_DB: postgres
      HIVE_META_CONNECT_URL: jdbc:postgresql://hive-metastore-db:5432/metastore
      HIVE_META_USER: hive
      HIVE_META_PASSWORD: hive
    depends_on:
      - hive-metastore-db
      - namenode
    ports:
      - "9083:9083"
    networks:
      - hadoop

  # HIVE SERVER2 (for SQL queries)
  hive-server:
    image: bde2020/hive:2.3.2
    container_name: hive-server
    restart: always
    env_file:
      - ./hadoop.env
      - ./hive.env
    environment:
      SERVICE_PRECONDITION: "namenode:9870 hive-metastore:9083"
      HADOOP_USER_NAME: root
    depends_on:
      - hive-metastore
      - namenode
    ports:
      - "10000:10000"
    networks:
      - hadoop

volumes:
  hadoop_namenode:
  hadoop_datanode1:
  hadoop_datanode2:
  hive_metastore_data:

networks:
  hadoop: